<div class="btn-toolbar" ng-if="$ctrl.totalPages">
    <div class="btn-group">
        <button type="button" ng-click="$ctrl.changePage(null, 'prev')" class="btn btn-default" value="<"> < </button>
    </div>
    <div class="btn-group" ng-if="$ctrl.totalPages">
        <button type="button" class="btn" ng-class="($index+1) == $ctrl.currentPage ? 'btn-primary' : 'btn-default';" ng-repeat="page in $ctrl.pageList"
            ng-click="$ctrl.changePage($index+1, null)" ng-value="page">{{page}}</button>
    </div>
    <div class="btn-group" ng-if="$ctrl.totalPages">
        <button type="button" ng-click="$ctrl.changePage(null, 'next')" class="btn btn-default" value=">"> > </button>
    </div>
</div>