<div ng-if="!$ctrl.isDataLoading" class="container-fluid well">
    <br>
    <search-area simple-search="$ctrl.simpleSearch(text)" rppvalue="$ctrl.rppvalue" on-reset="$ctrl.reset()" adv-search="$ctrl.advSearch(filter)"
        filter-cancel="$ctrl.filterCancel()" on-records-per-page-change="$ctrl.rppChange(rpp)"></search-area>
    <br>
    <div class="container-fluid  omnea-white-color">
        <table ng-if="$ctrl.data.length != 0" class="table table-striped">
            <thead>
                <tr>
                    <!-- <th class="col-md-1"><button class="btn btn-default"><i class="fa fa-fw" ng-class="$ctrl.sort.li.icon""></i>Location ID</button> </th> -->
                    <th ng-click="$ctrl.applySort('li')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.li.icon"></i>Location ID</th>
                    <th ng-click="$ctrl.applySort('cn')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.cn.icon"></i>Company Name</th>
                    <th ng-click="$ctrl.applySort('s')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.s.icon"></i>Street</th>
                    <th ng-click="$ctrl.applySort('pc')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.pc.icon"></i>Postcode</th>
                    <th ng-click="$ctrl.applySort('ct')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.ct.icon"></i>City/Town</th>
                    <!--  <th ng-click="$ctrl.applySort('ph')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.ph.icon"></i>Phone</th> -->
                    <th class="col-md-1">Phone</th>
                    <th ng-click="$ctrl.applySort('p')" class="col-md-2"><i class="fa fa-fw" ng-class="$ctrl.sort.p.icon"></i>Plan</th>
                    <!-- <th ng-click="$ctrl.applySort('dir')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.dir.icon"></i>Directories</th> -->
                    <th class="col-md-1">Directories</th>
                    <th ng-click="$ctrl.applySort('ls')" class="col-md-1"><i class="fa fa-fw" ng-class="$ctrl.sort.ls.icon"></i>Last Submission</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in $ctrl.data">
                    <td>{{d.omnea_id}}</td>
                    <td> {{d.basic.name}} </td>
                    <td>{{d.basic.address.street}}</td>
                    <td>{{d.basic.address.zip}}</td>
                    <td>{{d.basic.address.city}}</td>
                    <td>{{d.basic.phone_number}}</td>
                    <td>{{d.plans[0]['plan.plan_name']}}</td>
                    <td>{{d.submitted_directories_count}}</td>
                    <td>{{$ctrl.getDate(d.last_submit)}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="$ctrl.data.length == 0">
            <center>No records Found </center>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <records-info start="$ctrl.start" end="$ctrl.end" total="$ctrl.total"></records-info>
            <div class="pull-right">
                <pagination total-pages="$ctrl.totalPages" current-page="$ctrl.currentPage" on-page-change="$ctrl.changePage(page)"></pagination>
            </div>
        </div>
    </div>
</div>
<div ng-if="$ctrl.isDataLoading" class="container-fluid well">
    <center> <strong>Loading ..... </strong> </center>
    <center>{{$ctrl.errorMessage}}</center>
</div>