.omnea-white{
    background-color: #fff!important;
    padding: 16px 16px!important;
}
.omnea-white-5{
    background-color: #fff!important;
    padding: 5px 5px!important;
}
.omnea-white-color{    
    background-color: #fff!important;
}